.table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  padding-bottom: 20px;
}

.table .thead tr {
  background-color: #dddddd;
}

.table .thead tr th {
  height: 30px;
  border-color: #dddddd;
}
.table .thead tr th:first-child {
  border-top-left-radius: 10px;
  width: 30%;
}
.table .thead tr th:last-child {
  border-top-right-radius: 10px;
  width: 40%;
}

.table .tbody tr {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.table .tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.table .tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.table .tbody tr td {
  height: 30px;
  border-bottom: 1px solid #dddddd;
}
.table .tbody tr td:first-child {
  border-left: 1px solid #dddddd;
}
.table .tbody tr td:last-child {
  border-right: 1px solid #dddddd;
}